  <div class="row">
    <div class="col-4">
      Conversations
      <% @conversations.each do |friend| %>
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p> <%= friend.first_name %> <%= friend.last_name %></p>
          <%= link_to "Chat", user_connection_messages_path(UserConnection.where('connector_id = ? OR connectee_id = ?', friend.id, friend.id).first), class:"btn-sm-white" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-8">
      <div class="message">
        <% if @over_ten %>

         <%= link_to "Show Previous", user_connection_messages_path(@user_connection.id, button_previous: true) %>
        <% end %>
        <div class=”ui segment”>
         <% @messages.each do |message| %>
          <% if message.content %>
           <% user = User.find(message.user_id) %>
           <div class=”item”>
            <div class=”content”>
             <div class=”header”><strong><%= user.first_name %></strong>    <%= message.message_time %></div>
              <div class=”list”>
               <div class=”item”>
                <i class=”right triangle icon”></i>
                 <%= message.content %>
              </div>
            </div>
           </div>
         </div>
         <% end %>
        <% end %>
        </div>
        <%= simple_form_for [@user_connection, @message] do |f| %>
           <%= f.text_area :content %>
          <%= f.hidden_field :user_id, value: current_user.id %>
         <div>
           <%= f.button :submit, input_html: { class: 'btn-md-blue' } %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
