
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h3>MESSAGES</h3>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                  <button type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="inbox_chat"><% @conversations.each do |friend| %>
            <div class="chat_list <%= 'active-chat' if params[:user_connection_id].to_i == UserConnection.where('connector_id = ? OR connectee_id = ?', friend.id, friend.id).first.id  %>">
            <%= link_to "", user_connection_messages_path(UserConnection.where('connector_id = ? OR connectee_id = ?', friend.id, friend.id).first), class: "btn-invisible" %>
              <div class="chat_people">
                <div class="chat_img">
                  <%= link_to profile_path(friend) do  %>
                    <%= cl_image_tag friend.profilephoto, class:"avatar-large" %>
                  <% end %>
                </div>
                <div class="chat_ib">
                  <h5 style="display: flex; justify-content: space-between;">
                    <%= friend.first_name %>
                    <%= friend.last_name %>
                  </h5>
         <% connection = @connections.where('connector_id = ? OR connectee_id = ?', friend.id, friend.id).first %>
                  <% if connection.messages.any? %>
                    <div class = "message-preview">
                      <div class = "truncate-msg-text">
                        <% if connection.messages.last.user.first_name == current_user.first_name %>
                         <p>You: </p>&nbsp;
                        <% else %>
                          <p><%=  connection.messages.last.user.first_name %>: </p>&nbsp;
                        <% end %>
                       <p><%=  truncate connection.messages.last.content, length: 20 %></p>
                       </div>
                       <div class = "msg-preview-date">
                       <p text-right><%= connection.messages.last.message_time %>, &nbsp;<%=  connection.messages.last.created_at.to_date.strftime("%b %d") %></p>
                      </div>
                    </div>
                  <% end %>



                  </div>
                </div>
              </div>
        <% end %>
            </div>
          </div>
          <div class="mesgs" style="background-color: white;">
            <% if @over_ten %>
             <%= link_to "Show Previous", user_connection_messages_path(@user_connection.id, button_previous: true) %>
            <% end %>
            <div class="msg_history">
              <% @messages.each do |message| %>
                <% if message.user != current_user %>
                  <% message.update(read: true) %>
                <% end %>
                <% if message.content && message.user == current_user %>
                  <div class="outgoing_msg general_message">
                    <div class="sent_msg">
                      <p><%= message.content %></p>
                      <span class="time_date"> <%= message.message_time %>    |    <%= message.message_day.to_date.strftime("%b %y") %></span>
                    </div>
                  </div>
                <% else %>
                  <% user = User.find(message.user_id) %>
                  <div class="incoming_msg general_message">
                    <div class="incoming_msg_img">
                      <div class="chat_img"><%= cl_image_tag user.profilephoto, class:"avatar-large" %></div>
                      </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><%= message.content %>
                          </p>
                          <span class="time_date"> <%= message.message_time %>   |    <%= message.message_day.to_date.strftime("%b %y") %></span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= render "messages/form", locals: { :user_connection => @user_connection, :message => @message } %>
            </div>
          </div>
        </div>



