<div class="messaging container">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h3>MESSAGES</h>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                  <button type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="inbox_chat"><% @conversations.each do |friend| %>
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"><%= cl_image_tag friend.profilephoto, class:"avatar-large" %>
                </div>
                <div class="chat_ib">
                  <h5 style="display: flex; justify-content: space-between;">
                    <%= friend.first_name %>
                    <%= friend.last_name %>
                    <%= link_to "Chat", user_connection_messages_path(UserConnection.where('connector_id = ? OR connectee_id = ?', friend.id, friend.id).first), class: "btn-sm-white #{'active' if params[:user_connection_id].to_i == UserConnection.where('connector_id = ? OR connectee_id = ?', friend.id, friend.id).first.id }" %>
                    <!-- <span class="chat_date">Dec 25</span></h5> -->
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="mesgs" style="background-color: white;">
            <% if @over_ten %>
             <%= link_to "Show Previous", user_connection_messages_path(@user_connection.id, button_previous: true) %>
            <% end %>
            <div class="msg_history">
              <% @messages.each do |message| %>
                <% if message.content && message.user == current_user %>
                  <div class="outgoing_msg general_message">
                    <div class="sent_msg">
                      <p><%= message.content %></p>
                      <span class="time_date"> <%= message.message_time %>    |    <%= message.message_day %></span>
                    </div>
                  </div>
                <% else %>
                  <% user = User.find(message.user_id) %>
                  <div class="incoming_msg general_message">
                    <div class="incoming_msg_img">
                      <div class="chat_img"><%= cl_image_tag user.profilephoto, class:"avatar-large" %></div>
                      </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><%= message.content %>
                          </p>
                          <span class="time_date"> <%= message.message_time %>   |    <%= message.message_day %></span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= render "messages/form", locals: { :user_connection => @user_connection, :message => @message } %>
            </div>
          </div>
        </div>
      </div>


