
<footer class="page-footer font-small pt-4" id="sticky-footer" >
  <div class="container-fluid text-center">
    <div class="row d-flex justify-content-around align-items-center">
       <div class="col-md-4 mb-md-0 mb-3">
         <h5 class="text-uppercase">About</h5>
         <h5 class="text-uppercase">FAQ</h5>
         <h5 class="text-uppercase">Meet the Team</h5>
       </div>
       <hr class="clearfix w-100 d-md-none pb-3">
       <div class="col-md-4 mb-md-0 mb-3">
         <div class = "footer-link-logo">
            <%= link_to "#", class: "footer-img" do %>
            <%= image_tag "omline_name_logo.png", :width => 120%>
            <% end %>
          <div class="footer-links">
          <br>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-4 mb-md-0 mb-3">
        <div class = "container mx-auto contact-info">
          <p><%= image_tag "address_icon.png", :width => 30 %> &nbsp;Jl. Munduk Catu No.32,<br> Canggu, Kuta Utara, Bali 80361</p>
          <p><%= image_tag "phone_icon.png", :width => 30 %> &nbsp;+1-234-567-8910</p>
          <p><%= image_tag "email_icon.png", :width => 30 %> &nbsp;support@omline.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-2">
    © OMline 2019 &nbsp;| &nbsp;Terms & Conditions
  </div>
</footer>

