<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "omline_logo.png" %>
  <% end %>

<% if user_signed_in? %>
  <div class="logout">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class = "navbar-icons">
          <li class="nav-bar nav-item active">
          <% if current_user.hub.nil? %>
            <%= link_to hubs_path, class: "nav-link" do%>
              <%= image_tag "home_icon.png", :width => 33 %>
            <% end %>
          <% else %>
            <%= link_to hub_path(current_user.hub.id), class: "nav-link" do%>
              <%= image_tag "home_icon.png", :width => 33 %>
            <% end %>
          <% end %>
          </li>
          <li class="nav-bar nav-item">
            <%= link_to hubs_path, class: "search nav-link" do%>
            <%= image_tag "search_icon.png", :width => 31 %>
            <% end %>
          </li>
          <li class="nav-bar nav-item">
              <% if @connections.present? %>
                <% if user_signed_in? %>
                <% counter = 0 %>
                <% UserConnection.where('connector_id = ? OR connectee_id = ?', current_user.id, current_user.id).each do |connection| %>
                  <% if Message.where(user_connection_id: connection.id).where.not(user_id: current_user.id).where(read: false).length > 0 %>
                    <% counter += Message.where(user_connection_id: connection.id).where.not(user_id: current_user.id).where(read: false).length %>
                  <% end %>
                <% end %>
                  <% if counter > 0  %>
                    <div class="notification-badge">
                      <i class="fas fa-circle"></i>
                      <p id="badge-count"><%= counter %></p>
                    </div>
                  <% end %>
                <% end %>
                <%= link_to user_connection_messages_path(@connections.first), class: "nav-link" do%>
                  <%= image_tag "message_icon.png", :width => 32 %>
                <% end %>
              <% elsif %>
                <%= link_to "#", class: "nav-link" do%>

                <%= image_tag "message_icon.png", :width => 32 %>
                <% end %>
              <% end %>
          </li>
        </div>
        <li class="nav-bar nav-item dropdown">
          <% if current_user.profilephoto.blank? %>
            <%= cl_image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= cl_image_tag current_user.profilephoto, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu/-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <% else %>
    <div class="login d-flex justify-content-between">
      <%= link_to "Sign Up", new_user_registration_path, class:"nav-link btn-sm-white mr-3" %>
      <%= link_to "Login", user_session_path , class:"nav-link btn-sm-white" %>
    </div>
  <% end %>
</div>
