<div class="container">
  <div class="event-title my-3">
    <h2><%= @event.title %></h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mx-auto">
        <div class="event-image">
          <%= cl_image_tag @event.photo, height: 400, crop: :scale%>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
      <div class="card card-event mb-5 p-4">
        <div class="event-info">
          <div class="event-description">
            <p><%= @event.description %></p>
            <!-- <p>Hub: <#%= link_to @event.hub.name, hub_path(@event.hub) %></p> -->
            <p><strong>Location:</strong> <%= @event.location_name %></p>
            <p><strong>Host Email:</strong> <%= @event.user.email %></p>
            <p><strong>Total Spots:</strong> <%= @event.capacity %></p>
            <p><strong>Spots Available:</strong> <%= (@event.capacity - @event.event_bookings.length) %></p>
          </div>
          <div class="event-booking">
            <% if @event.event_bookings.length < @event.capacity %>
              <%= simple_form_for([@event, @booking]) do |f| %>
                <%= f.button :submit, "Book a space", class: "btn-md-blue justify-content-center text-center mx-auto" %>
                <% if @booking.errors.any? %>
                  <div class="errors-container">
                    <ul>
                      <% @booking.errors.messages.each do |attr, msg| %>
                        <% msg.each do |val| %>
                        <li><%= val %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <h5>this is event is fully booked</h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
