<div class="container">
  <div class="col-md-6 mx-auto">
    <div class="card mb-5 p-4">
      <p>Event: <%= @event.title %></p>
      <p>Description: <%= @event.description %></p>
      <p>Hub: <%= link_to @event.hub.name, hub_path(@event.hub) %></p>
      <p>Host Email: <%= @event.user.email %></p>
      <p>Total Spots: <%= @event.capacity %></p>
      <p>Spots Available: <%= (@event.capacity - @event.event_bookings.length) %></p>
      <% if @event.event_bookings.length < @event.capacity %>
        <%= link_to "Book a spot", event_event_bookings_path(@event), method: :post %>
      <% else %>
        <h5>this is event is fully booked</h5>
      <% end %>
    </div>
  </div>
</div>
