<h1>Hubs#index</h1>
<p>Find me in app/views/hubs/index.html.erb</p>
  <div class="hub-search py-2">
    <%= simple_form_for :search, url: hubs_path, method: "GET" do |f| %>
      <%= f.input :city, input_html: {value: ""}, placeholder: "Search a location"%>
      <%= f.submit "Search", class:"btn-sm-blue"%>
    <% end %>
  </div>
  <div class="cards">
    <% @hubs.each do |hub|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= hub.photo %>)">
      <%= link_to hub.city, hub_path(hub.id)%>
      </div>
    <% end %>
  </div>
