<% if params[:newhub] == "newhub" %>
  <div class="hub-search py-2">
    <%= form_tag hubs_path, method: :get do %>
      <%= text_field_tag :search,
        @search,
        class: "form-control",
        placeholder: "Search a location"
      %>
      <%= submit_tag "Search", class:"btn-sm-blue"%>
    <% end %>
  </div>
    <h2 class="container border-bottom text-center mb-5 pb-3">Please Choose Your Hub</h2>

  <div class="cards container mb-5">
    <% @hubs.each do |hub|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= hub.photo %>)">
        <div class="col-md-9 text-center">
            <%= link_to hub.city, hub_path(hub.id)%>
          <div class="row justify-content-center pt-2">
            <%= link_to "Select", new_hub_path({ :newhub => hub.id }), { :class=>"btn-md-blue" }%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="hub-search py-2">
    <%= form_tag hubs_path, method: :get do %>
      <%= text_field_tag :search,
        @search,
        class: "form-control",
        placeholder: "Search a location"
      %>
      <%= submit_tag "Search", class:"btn-sm-blue"%>
    <% end %>
  </div>
  <div class="cards container mb-5">
    <% @hubs.each do |hub|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= hub.photo %>)">
      <%= link_to hub.city, hub_path(hub.id)%>
      </div>
    <% end %>
  </div>
<% end %>
