
<div class = "hub-container">
<div class="card-category hub-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/le-wagon1234/image/upload/v1573486560/DSC_1251_el4p4x.jpg)">
  <h1 class="hub-name-show"><%= @hub.city.upcase %>
  </h1>
</div>
<div class = "row">
  <div class = "hub-users-title"><h2>YOGIS IN <%= @hub.city.upcase %><h2></div>
  <div class = "col-12">
    <div class="hub-profile-cards"><% @users.each do |user| %>
      <div class="contact-box center-version">
        <div class = "top-prof-card">
          <a href="#profile.html"><%= cl_image_tag user.profilephoto,   crop: :limit, class:"avatar-profile" %>
          </a>
          <h5 class="text-center m-b-xs mt-3"><%= user.first_name %>&nbsp<%= user.last_name %>
          </h5>
        </div>
        <div class="contact-box-footer">
          <div class="m-t-xs btn-group"><%= link_to "Connect", "#", class:"btn-sm-white" %>
          </div>
        </div>
      </div><% end %>
    </div>
  </div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="hub-events card">
        <h2 class="hub-box-title text-center">EVENTS</h2>
        <div class="event-box-content">
          <% if @hub.events.empty? %>
            <h5>There are no events in this hub yet.</h5>
          <% else %>
            <% @cevents.each do |date| %>
              <% if date[0] >= Date.today %>
                <h5 class="text-left" ><%= date[0].strftime("%A, %b %d") %></h5>
              <% end %>
              <% date[1].each do |event| %>
                <% if event.end_time >= DateTime.now %>
                  <div class="card-product">
                    <%= cl_image_tag event.photo %>
                    <div class="card-product-infos">
                      <h2><%= link_to event.title, event_path(event) %></h2>
                      <p><strong>Location:</strong><%= event.location_name %></p>
                      <p><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <button id="create-event-btn" type="button" class="btn-md-blue" data-toggle="modal" data-target="#exampleModal">
          Create Event
        </button>
        <span id="form-to-render" data-to-render="<%= @failed %>">
        </span>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create an event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 class="text-center">Create an Event</h3><%= simple_form_for [@hub, @event] do |f| %><%= f.input :title %><%= f.input :description %><%= f.input :address %><%= f.input :price %><%= f.input :start_time, html5: true %><%= f.input :end_time, html5: true %><%= f.input :capacity, inline_label: 'Yes, remember me' %><%= f.button :submit, input_html: { class: 'btn-md-blue' } %><% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="col-md-4">
      <div class="studio-events card">
        <h3 class="studio-title-top text-center">STUDIOS</h3>
        <nav>
          <div class="studio-tabs">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">List</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Map</a>
          </div>
          </div>
        </nav>
        <div class="studio-cards tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active studio-box-content" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <% @studios.each do |studio| %>




              <div class="info-card">
      <div class="front">
        <div class="card front-card" style="width: 20rem;">
          <image><%= cl_image_tag studio.photo, crop: :fill, class:"card-img-top"%>
          </image>
          <div class="studio-name-front card-body mx-auto">
            <h4 class="card-title"><%= studio.name %></h4>
          </div>
        </div>
      </div>
      <div class="back">
        <div class="card studio" style="width: 20rem;">
          <div class="back-card">
            <div class="back-card-body">
              <div class="back-card-title">
                <h4><%= studio.name %></h4>
                <p>Styles: <%= studio.styles %></p>
              </div>
              <div class="back-card-info">
                <p><%= image_tag "web_icon.png", :width => 15 %>&nbsp<%= studio.website %></p>
                <p><%= image_tag "phone_icon.png", :width => 15 %>&nbsp<%= studio.phone_number %></p>
                <p><%= image_tag "email_icon.png", :width => 15 %>&nbsp<%= studio.email %></p>
                <p><%= image_tag "time_icon.png", :width => 15 %>&nbsp<%= studio.hours %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            </p><% end %>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div id="map" style="width: 100%; height: 507px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<%= javascript_pack_tag 'map.js' %>

