<div>
  <h1 class="hub-name-show"><%= @hub.city %></h1>
<div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card p-4 rounded mb-4">
        <h3 class="text-center">Events</h3>
        <% @hub.events.each do |event| %>
          <%= link_to event.title, event_path(event.id) %>
          <%= event.description %>
        <% end %>
        <!-- Button trigger modal -->
        <button type="button" class="btn-lg-white" data-toggle="modal" data-target="#exampleModal">
          Create Event
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create an event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 class="text-center">Create an Event</h3>
                <%= simple_form_for [@hub, @event] do |f| %>
                  <%= f.input :title %>
                  <%= f.input :description %>
                  <%= f.input :address %>
                  <%= f.input :price %>
                  <%= f.input :start_time, html5: true %>
                  <%= f.input :end_time, html5: true %>
                  <%= f.input :capacity, inline_label: 'Yes, remember me' %>
                  <%= f.button :submit, input_html: { class: 'btn-md-blue' } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-4 rounded mb-4">
        <h3 class="text-center">Studios</h3>
        <div class="carousel-item">
          <img src="@studios.first.photo" alt="The Practice">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
  </div>
</div>
