<h1>Hubs#show</h1>
<p>Find me in app/views/hubs/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card p-4 rounded mb-4">
        <h3 class="text-center">Create an Event</h3>
        <%= simple_form_for [@hub, @event] do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :price %>
          <%= f.input :start_time, html5: true %>
          <%= f.input :end_time, html5: true %>
          <%= f.input :start_date, html5: true, inline_label: 'Start Date' %>
          <%= f.input :end_date, html5: true, inline_label: 'End Date' %>
          <%= f.input :capacity, inline_label: 'Yes, remember me' %>
          <%= f.button :submit, input_html: { class: 'btn-md-blue' } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card p-4 rounded mb-4">
        <h3 class="text-center">Events</h3>
        <% @hub.events.each do |event| %>
          <%= link_to event.title, event_path(event.id) %>
          <%= event.description %>
        <% end %>

      </div>
    </div>
  </div>
</div>

