<div class = "hub-container">
<div class="card-category hub-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/le-wagon1234/image/upload/v1573486560/DSC_1251_el4p4x.jpg)">
  <h1 class="hub-name-show"><%= @hub.name.upcase %>
  </h1>
</div>
<div class = "row">
  <div class = "hub-users-title"><h2>YOGIS<h2></div>
  <div class = "col-12">
    <div class="hub-profile-cards"><% @users.each do |user| %>
      <div class="contact-box center-version">
        <div class = "top-prof-card">
          <%= link_to profile_path(user) do %>
          <%= cl_image_tag user.profilephoto, crop: :limit, class:"avatar-profile" %>
          <% end %>
          </a>
          <h5 class="text-center m-b-xs mt-3"><%= user.first_name %>&nbsp<%= user.last_name %>
          </h5>
        </div>
        <div class="contact-box-footer">
          <div class="m-t-xs btn-group">
            <% unless current_user == user || user.requested_friends.include?(current_user) || user.friends.include?(current_user) %>
              <div class="connect-<%= user.id %>">
                <%= link_to "Connect", request_friend_path(user), class:"btn-sm-white", method: :post, remote: true %>
              </div>
            <% end %>
            <% if user.requested_friends.include?(current_user)%>
              <%= link_to "Pending", "#", class:"btn-sm-white"%>
            <% elsif user.friends.include?(current_user) %>
              <%= link_to "#", class:"btn-sm-connected-white" do %>
                <div class="d-flex">
                  <i class="fa fa-check icon" aria-hidden="true"></i>
                  <p id="word">  Connected </p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div><% end %>
    </div>
  </div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="hub-events card">
        <h2 class="hub-box-title text-center">EVENTS</h2>
        <div class="event-box-content">
          <% if @hub.events.empty? %>
            <h5>There are no events in this hub yet.</h5>
          <% else %>
            <% @cevents.sort.each do |date| %>
              <% if date[0] >= Date.today %>
                <h5 class="text-left" ><%= date[0].strftime("%A, %b %d") %></h5>
              <% end %>
              <% date[1].each do |event| %>
                <% if event.end_time >= DateTime.now %>
                  <div class="card-product">
                    <%= cl_image_tag event.photo %>
                    <div class="card-product-infos">
                      <h2><%= link_to event.title, event_path(event) %></h2>
                      <p><strong>Location:&nbsp;</strong><%= event.location_name %></p>
                      <p><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <button id="create-event-btn" type="button" class="btn-md-blue" data-toggle="modal" data-target="#exampleModal">
          Create Event
        </button>
        <span id="form-to-render" data-to-render="<%= @failed %>">
        </span>
        <!-- Modal -->
        <div class="modal fade rounded" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="event-modal">
              <div class="container">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Create an Event</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">

                    <%= simple_form_for [@hub, @event] do |f| %>
                      <%= f.input :title %>
                      <%= f.input :photo %>
                      <%= f.input :photo_cache, as: :hidden %>
                      <%= f.input :description %>
                      <%= f.input :address %>
                      <%= f.input :location_name, label: "Location Name" %>
                      <div class="row justify-content-between time">
                      <%= f.input :start_time, as: :string, type: :text, label: "Start Date & Time", wrapper_html: { class: "same-row" }  %>
                      <%= f.input :end_time, as: :string, type: :text, label: "End Date & Time", wrapper_html: { class: "same-row" }  %>
                      </div>
                      <div class="row justify-content-between time">
                      <%= f.input :price, wrapper_html: { class: "same-row" } %>
                      <%= f.input :capacity, inline_label: 'Yes, remember me', wrapper_html: { class: "same-row" } %>
                      </div>
                      <%= f.button :submit, :class => 'btn-md-blue mx-auto' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="col-md-4">
      <div class="studio-events card">
        <h2 class="studio-title-top text-center">STUDIOS</h2>
        <nav>
          <div class="studio-tabs">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><h5>List</h5></a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><h5>Map</h5></a>
          </div>
          </div>
        </nav>
        <div class="studio-cards tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active studio-box-content" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <% @studios.each do |studio| %>




              <div class="info-card">
      <div class="front">
        <div class="card front-card" style="width: 20rem;">
          <image><%= cl_image_tag studio.photo, crop: :fill, class:"card-img-top"%>
          </image>
          <div class="studio-name-front card-body mx-auto">
            <h4 class="card-title"><%= studio.name %></h4>
          </div>
        </div>
      </div>
      <div class="back">
        <div class="card studio" style="width: 20rem;">
          <div class="back-card">
            <div class="back-card-body">
              <div class="back-card-title">
                <h4><%= studio.name %></h4>
                <p>Styles: <%= studio.styles %></p>
              </div>
              <div class="back-card-info">
                <p><%= image_tag "web_icon.png", :width => 15 %>&nbsp<%= studio.website %></p>
                <p><%= image_tag "phone_icon.png", :width => 15 %>&nbsp<%= studio.phone_number %></p>
                <p><%= image_tag "email_icon.png", :width => 15 %>&nbsp<%= studio.email %></p>
                <p><%= image_tag "time_icon.png", :width => 15 %>&nbsp<%= studio.hours %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            </p><% end %>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div id="map" style="width: 100%; height: 507px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<%= javascript_pack_tag 'map.js' %>


