<div class="dashboard-container">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-xs-12 col-s-12 col-md-5">
      <div class="sidebar ">
        <div class = "sidebar-top"><%= cl_image_tag @user.profilephoto, class:"dash-photo"  %>
          <div class = "dash-name">
            <h3><%= @user.first_name %>'s Dashboard

            </h3>
          </div>
        </div>
        <div class = "sidebar-bottom">
          <div class = "dash-tabs">
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="event-tab" data-toggle="tab" href="#event" role="tab"
              aria-controls="event" aria-selected="true">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab"
              aria-controls="requests" aria-selected="false">Friend Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="connections-tab" data-toggle="tab" href="#connections" role="tab"
              aria-controls="connections" aria-selected="false">Connections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="hub-tab" data-toggle="tab" href="#your_hub" role="tab"
              aria-controls="your_hub" aria-selected="false">Your Hub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" role="tab"
              aria-controls="interests" aria-selected="false">Interests</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-s-12 col-md-7">
      <div class="dash-content">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="event" role="tabpanel" aria-labelledby="event-tab">
            <div class="card-header tab-card-header">
              <ul class="nav nav-tabs card-header-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">
                    <h4>Hosting</h4>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">
                    <h4>Attending</h4>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade event-dashboard show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
              <div class="row">
                <div class="col-3">
                  <div class = "dash-event-side-tabs">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Upcoming</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Past</a>
                    </div>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @events.empty? %>
                            <h5>You have not created any events yet.</h5>
                            <%= link_to "Create Event", hub_path(@user.hub.id), class: "btn-md-blue mx-auto mt-5" %>
                          <% else %>
                            <% @events.each do |event| %>
                              <div class="card-product">
                                <%= cl_image_tag event.photo %>
                                <div class="card-product-infos">
                                  <h2><%= link_to event.title, event_path(event) %></h2>
                                  <p><strong>Location:</strong><%= event.location_name %></p>
                                  <p><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane event-dashboard fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @events.empty? %>
                            <h5>You have not hosted any events yet.</h5>
                          <% else %>
                            <% @events.each do |event| %>
                              <div class="card-product">
                                <%= cl_image_tag event.photo %>
                                <div class="card-product-infos">
                                  <h2><%= link_to event.title, event_path(event) %></h2>
                                  <p><strong>Location:</strong><%= event.location_name %></p>
                                  <p><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
              <div class="row">
                <div class="col-3">
                  <div class = "dash-event-side-tabs">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-attend-upcoming" role="tab" aria-controls="v-pills-attend-upcoming" aria-selected="true">Upcoming</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-attend-past" role="tab" aria-controls="v-pills-attend-past" aria-selected="false">Past</a>
                    </div>
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-attend-upcoming" role="tabpanel" aria-labelledby="v-pills-attend-upcoming-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @user.events.empty? %>
                            <h5>You have not signed up for any events yet.</h5>
                            <% if @user.hub.nil? == false %>
                              <%= link_to "Find Event", hub_path(@user.hub.id), class: "btn-md-blue mx-auto mt-5" %>
                            <% end %>
                          <% else %>
                            <% @cevents.each do |date| %>
                              <% if date[0] > DateTime.now %>
                                <h4 class="text-left" ><%= date[0].strftime("%A, %b %d") %></h4>
                              <% end %>
                              <% date[1].each do |event| %>
                                <% if event.end_time > DateTime.now %>
                                  <div class="card-product">
                                    <%= cl_image_tag event.photo %>
                                    <div class="card-product-infos">
                                      <h2><%= link_to event.title, event_path(event) %></h2>
                                      <p><strong>Location:</strong><%= event.location_name %></p>
                                      <p><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-attend-past" role="tabpanel" aria-labelledby="v-pills-attend-past-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @user.events.empty? %>
                            <h5>You have not attended any events yet.</h5>
                          <% else %>
                            <% @user.events.each do |event| %>
                              <% if event.end_time < DateTime.now %>
                                <div class="card-product">
                                  <%= cl_image_tag event.photo %>
                                  <div class="card-product-infos">
                                    <h2><%= link_to event.title, event_path(event) %></h2>
                                    <p><strong>Location:</strong><%= event.location_name %></p>
                                    <p><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                  </div>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
            <div class="request card">
              <div class="request-dash-body p-3">
                <div class="row">
                <% @user.requested_friends.each do |friendreq| %>
                  <div class="col-md-4">
                    <div class="contact-box center-version mx-auto">
                      <div class = "top-prof-card">
                        <a href="#profile.html"><%= cl_image_tag friendreq.profilephoto, class:"avatar-profile"  %>
                        </a>
                        <h5 class="m-b-xs mt-3"><%= friendreq.first_name %></h5>
                      </div>
                      <div class="contact-box-footer">
                        <div class="m-t-xs btn-group"><%= link_to "accept", accept_friend_path(friendreq), method: :post, class:"btn-xs-white" %></div>
                        <div class="m-t-xs btn-group"><%= link_to "Delete", decline_request_path(friendreq), method: :delete, class:"btn-xs-white" %></div>
                      </div>
                    </div>
                  </div><% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="your_hub" role="tabpanel" aria-labelledby="your_hub-tab">
            <div class="card">
              <div class="dash-card-header p-3 text-center border-bottom">
                <h3>Your Hub</h3>
              </div>
              <div class="dash-card-body p-4 text-center">
                <% if @user.hub.nil? %>
                  <%= link_to "Choose Hub", hubs_path({ :newhub => "newhub" }), :class => "btn-lg-blue mx-auto" %>
                <% end %>
                <% if @user.hub.nil? == false %>
                  <div class="card-button">
                    <%= link_to hub_path(@user.hub.id) do %>
                      <div class="container w-75">
                        <div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= current_user.hub.photo %>)">
                          <div class="col-md-6 text-center">
                              <h1> <%= @user.hub.city %> </h1>
                            <div class="row justify-content-center pt-2">
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <%= link_to "change hub", hubs_path({ :newhub => "newhub" }), :class => "btn-lg-blue mx-auto" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="connections" role="tabpanel" aria-labelledby="connections-tab">
            <div class="friend card">
              <div class="dash-card-body p-4 text-center">
                <% if @user.friends.empty? %>
                <h5>NO CONNECTIONS</h5>
                <% else %>
                <% @user.friends.each do |friend| %>
                <div class="row">
                  <div class="col-md-4">
                    <div class="contact-box center-version mx-auto">
                      <div class = "top-prof-card">
                        <a href="#profile.html"><%= cl_image_tag friend.profilephoto, class:"avatar-profile"  %>
                        </a>
                        <h5 class="m-b-xs mt-3"><%= friend.first_name %></h5>
                      </div>
                      <div class="contact-box-footer">
                        <div class="m-t-xs btn-group"><%= link_to "Delete", remove_friend_path(friend), method: :delete,class:"btn-xs-white" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="your_hub" role="tabpanel" aria-labelledby="your_hub-tab">
            <div class="hub-dash card">
              <%= link_to "Change Hub", hubs_path({ :newhub => "newhub" }), :class => "btn-md-white mx-auto" %>
            </div>
          </div>
          <div class="tab-pane fade" id="interests" role="tabpanel" aria-labelledby="interests-tab">
            <div class="card text-center">
              <div class="dash-card-header p-3 text-center border-bottom">
                <h3>My Tags</h3>
              </div>
              <div class="dash-card-body p-4 mx-auto">
                <% if @user.tags.empty? %>
                  <h3>Your have not selected any interests yet...</h3>
                <% end %>
                <div class="cards mb-5">
                  <% @user.tags.each do |tag| %>
                    <div class="category-choice-dash row justify-content-center">
                      <%= link_to remove_tag_path({ :tag => "#{tag.tag_name}" }), class: "trash pr-1", method: :delete  do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                      <div class="">
                        <%= tag.tag_name %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <button type="button" class="btn-lg-blue mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">Edit Interests</button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content p-5 container">
                      <%= simple_form_for @user, url: update_profile_path, method: :patch do |f| %>
                        <%= f.error_notification %>

                        <div class="form-inputs onboarding">
                          <fieldset class="form-group">
                            <legend class="col-form-label pt-0">Select Your Intersts</legend>
                            <input type="hidden" name="user[tag_ids][]" value="">
                            <div class="cards-dash">
                              <% Tag.all.where(tag_type: "user").each do |tag| %>
                                <input class="hidden" style="display:none" type="checkbox" value="<%= tag.id %>" name="user[tag_ids][]" id="user_tag_ids_<%= tag.id %>">
                                <label class="category-choice <%=  %>" for="user_tag_ids_<%= tag.id %>">
                                  <%= tag.tag_name %>
                                </label>
                              <% end %>
                            </div>
                          </fieldset>
                        </div>
                        <div class="justify-content-center text-center mx-auto">
                          <input type="hidden" name="save" value="save" />
                          <%= f.submit "Save", class: "btn-md-blue justify-content-center text-center mx-auto" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "category_choice" %>
