<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<%= link_to "Submit", "#", class:"btn-sm-blue" %>
<br>
<%= link_to "Submit", "#", class:"btn-sm-white" %>
<br>
<%= link_to "Submit", "#", class:"btn-md-blue" %>
<br>
<%= link_to "Submit", "#", class:"btn-md-white" %>
<br>
<%= link_to "Submit", "#", class:"btn-lg-blue" %>
<br>
<%= link_to "Submit", "#", class:"btn-lg-white" %>
