<div class="container-profile">
  <div class = "cover-photo">
   <div class = "prof-current-hub">
    <% unless @user.hub.nil? %>
      <p>Current Hub: <%= link_to "#{@user.hub.name}", hub_path(@user.hub), class:"hub-link" %><p>
    <% end %>
    </div>
    <div class="edit-profile">
      <% if @user == current_user %>
        <%= link_to "Edit Profile", complete_profile_path, method: :patch,  class: "btn-md-white" %>
      <% end %>
    </div>
    <!-- Request a friend if youre not yet their friend and not on your own profile  -->
    <% unless current_user == @user || @user.requested_friends.include?(current_user) || @user.friends.include?(current_user) %>
      <%= link_to "CONNECT", request_friend_path(@user), class: 'btn-md-white', style: 'position: absolute; top: 10px; right: 10px;', method: :post %>
    <% end %>
    <% if @user.requested_friends.include?(current_user)%>
      <%= link_to "Requested", "#", class: 'btn-md-blue', style: 'position: absolute;top: 10px; right: 10px;' %>
    <% elsif @user.friends.include?(current_user) %>
      <%= link_to "#", class: "btn-md-blue", style: 'position: absolute;top: 10px; right: 10px;' do %>
        <i class="fa fa-check" aria-hidden="true">  <bold>Connected</bold> </i>
      <% end %>
    <% end %>
    <div class = "action-btns">
    <!-- Start a conversation with a friend from their profile -->
    <% if current_user.friends.include?(@user) %>
      <% if current_user != @user && @connection.present? %>
        <%= link_to "Message", user_connection_messages_path(@connection), class:"btn-lg-white" %>
      <% else %>
        <%= link_to "Message", user_connections_path(connector: @sender, connectee: @recipient),class:"btn-lg-white", method: :post %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class = "main-profile">
    <div class="row row-centered">
      <div class="col-xs-12 col-s-12 col-md-4">
        <div class="card-interests" style="width: auto;">
          <div class = "card-title-fix  mt-3">
          <h5 class="card-title">INTERESTS</h5>
        </div>
          <div class="card-scroll">
            <div class = "interest-items">
              <% current_user.tags.each do |tag| %>
              <p><%= image_tag 'lotus_icon.png', class:"lotus-icon"  %> <%= tag.tag_name %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-s-12 col-md-4">
        <div class="photo-avatar"><%= cl_image_tag @user.profilephoto, class:"prof-photo"  %>
        </div>
        <h4 class="name"><%= @user.first_name %> <%= @user.last_name %>
        </h4>
        <p class="nation-info"><%= @user.nationality %>
        </p>
        <% if  @user.is_teacher == true %>
          <div class="teacher-ind"><%= image_tag 'teacher_icon.png', class:"teacher-prof-icon"  %>
            <div class="teacher-text">
              <p>Teacher</p>
            </div>
          </div>
        <% end %>
        <% if @user.description != nil %>
          <div class = "desc">
            <p class="truncate-overflow"><%= @user.description %></p>
            <% if @user.description.length > 200 %>
              <!-- Button trigger modal -->
              <button type="button" class="btn-prof-top-white mx-auto" data-toggle="modal" data-target="#exampleModalCenter">
                Read More
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="prof-desc modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= @user.first_name %>'s Bio:</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= @user.description %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
          </div>
    <div class="col-xs-12 col-s-12 col-md-4">
      <div class="card-connection" style="width: auto;">
        <div class = "card-title-fix mt-3">
          <h5 class="card-title"><%= @user.friends.length %> CONNECTIONS</h5>
        </div>
          <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
            <h6 class="card-subtitle mb-2 ">Recently Added</h6>
            <div class="friends pt-3">
              <% @user.friends.first(3).each do |friend| %>
                <%= link_to profile_path(friend.id) do %>
                  <%= cl_image_tag friend.profilephoto, crop: :fill, class:"avatar-large" %>
                <% end %>
              <% end %>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn-prof-top-white mx-auto" data-toggle="modal" data-target="#exampleModal" style="margin-top: 34px;">
            See All
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="see-all-users modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= @user.first_name %>'s Connections</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="display: flex;">
                    <div class="connection-body">
                      <% @user.friends.each do |friend| %>
                        <div class="friend-avatar">
                          <p><%= link_to profile_path(friend.id) do %>
                            <%= cl_image_tag friend.profilephoto, crop: :fill, class:"avatar-profile" %>
                          <% end %></p>
                          <p><strong><%= friend.first_name %></strong></p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if  @user.is_teacher == true %>
    <div class = "container-teacher-info">
      <div class = "teach-exp-top">
        <h3 class="teach-exp-title">TEACHING &nbspEXPERIENCE</h3>
        <div class = "teach-exp-cards mx-auto">
          <% @experiences.each do |experience| %>
            <div class="card w-75 teach-exp">
              <div class="card-test">
                <div class = "col-8">
                  <h5 class="card-title"><%= experience.studio_name %></h5>
                  <p class="card-text"><%= experience.location %></p>
                  <p class="card-text"><%= experience.description %></p>
                </div>
                <div class = "col-4">
                  <p><%= experience.start_date.strftime("%B %Y") %> -
                    <% if experience.end_date.nil? %>
                      Present
                    <% else %>
                      <%= experience.end_date.strftime("%B %Y") %>
                    <% end %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class = "teach-info">
        <div class="row row-teach">
          <div class="col-xs-12 col-s-12 col-md-4">
            <div class="card-teach" style="width: auto;">
                <div class = "card-title-fix mt-3">

                <h5 class="card-title">TEACHING STYLES</h5>

              </div>
              <div class="teach-prof card-scroll">
                  <div class = "card-items">
                    <% @styles.each do |style| %>
                      <p><%= image_tag 'lotus_icon.png', class:"lotus-icon"  %> <%= style.teaching_style.name %>
                      </p>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-s-12 col-md-4">
            <div class="card-teach" style="width: auto;">
               <div class = "card-title-fix mt-3">
                <h5 class="card-title">CERTIFICATIONS</h5>
                </div>
              <div class="teach-prof card-scroll">
                <% @certifications.each do |certification| %>
                  <% if certification.certification_id == 1 %>
                    <div class = 'cert-icons'><%= image_tag 'ryt-200.jpg', class:"cert-icon"  %>
                    </div>
                  <% elsif certification.certification_id == 2 %>
                    <div class = 'cert-icons'><%= image_tag 'ryt-500.jpg', class:"cert-icon"  %>
                    </div>
                  <% elsif certification.certification_id == 3 %>
                    <div class = 'cert-icons'><%= image_tag 'eryt-200.jpg', class:"cert-icon"  %>
                    </div>
                  <% elsif certification.certification_id == 4 %>
                    <div class = 'cert-icons'><%= image_tag 'eryt-200-ryt-500.png', class:"cert-icon"  %>
                    </div>
                  <% elsif certification.certification_id == 5 %>
                    <div class = 'cert-icons'><%= image_tag 'eryt-500.jpg', class:"cert-icon"  %>
                    </div>
                  <% elsif certification.certification_id == 6 %>
                    <div class = 'cert-icons'><%= image_tag 'rcyt.jpg', class:"cert-icon"  %>
                    </div>
                  <% elsif certification.certification_id == 7 %>
                    <div class = 'cert-icons'><%= image_tag 'rpyt.jpg', class:"cert-icon"  %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-s-12 col-md-4">
            <div class="card-teach" style="width: auto;">

               <div class = "card-title-fix mt-3">

                <h5 class="card-title">LANGUAGES</h5>

              </div>
            <div class="teach-prof card-scroll">
              <div class="card-body">
                <div class = "card-items">
                  <% @languages.each do |language| %>
                  <p><%= image_tag 'lotus_icon.png', class:"lotus-icon"  %> <%= language.language.name %>
                  </p>
                  <% end %>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <div class="container">
    <div class="row ">
      <div class="pt-5 col-11 mx-auto">
        <div class="event-prof-section card mt-3 tab-card">
          <h3 class="card-title-event mx-auto">EVENTS</h3>
          <div class = "first-tabs">
            <div class="card-header tab-card-header">
              <ul class="nav nav-tabs card-header-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">
                    <h4>Host</h4>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">
                    <h4>Attend</h4>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                <div class="row">
                  <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Upcoming</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Past</a>
                    </div>
                  </div>
                  <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @events.empty? %>
                            <h5>You have not created any events yet.</h5>
                            <%= link_to "Create Event", hub_path(@user.hub.id), class: "btn-md-blue mx-auto mt-5" %>
                          <% else %>
                            <% @hevents.sort.each do |date| %>
                              <% if date[0] > DateTime.now %>
                                <h5 class="text-left" ><%= date[0].strftime("%A, %b %d") %></h5>
                              <% end %>
                              <% date[1].each do |event| %>
                                <% if event.end_time > DateTime.now %>
                                  <div class="card-product">
                                    <%= cl_image_tag event.photo %>
                                    <div class="card-product-infos">
                                      <h2 class="text-left"><%= link_to event.title, event_path(event) %></h2>
                                      <p class="text-left"><strong>Location:&nbsp;</strong><%= event.location_name %></p>
                                      <p class="text-left"><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane event-dashboard fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @events.empty? %>
                            <h5>You have not hosted any events yet.</h5>
                          <% else %>
                            <% @events.sort.each do |event| %>
                              <% if event.end_time < DateTime.now %>
                                <div class="card-product">
                                  <%= cl_image_tag event.photo %>
                                  <div class="card-product-infos">
                                    <h2 class="text-left"><%= link_to event.title, event_path(event) %></h2>
                                    <p class="text-left"><strong>Location:&nbsp;</strong><%= event.location_name %></p>
                                    <p class="text-left"><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                  </div>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                <div class="row">
                  <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-attend-upcoming" role="tab" aria-controls="v-pills-attend-upcoming" aria-selected="true">Upcoming</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-attend-past" role="tab" aria-controls="v-pills-attend-past" aria-selected="false">Past</a>
                    </div>
                  </div>
                  <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-attend-upcoming" role="tabpanel" aria-labelledby="v-pills-attend-upcoming-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @user.events.empty? %>
                            <h5>You have not signed up for any events yet.</h5>
                            <% if @user.hub.nil? == false %>
                              <%= link_to "Find Event", hub_path(@user.hub.id), class: "btn-md-blue mx-auto mt-5" %>
                            <% end %>
                          <% else %>
                            <% @cevents.sort.each do |date| %>
                              <% if date[0] > DateTime.now %>
                                <h5 class="text-left" ><%= date[0].strftime("%A, %b %d") %></h5>
                              <% end %>
                              <% date[1].each do |event| %>
                                <% if event.end_time > DateTime.now %>
                                  <div class="card-product">
                                    <%= cl_image_tag event.photo %>
                                    <div class="card-product-infos">
                                      <h2 class="text-left"><%= link_to event.title, event_path(event) %></h2>
                                      <p class="text-left"><strong>Location:&nbsp;</strong><%= event.location_name %></p>
                                      <p class="text-left"><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-attend-past" role="tabpanel" aria-labelledby="v-pills-attend-past-tab">
                      <div class="event card">
                        <div class="dash-card-body p-4 text-center">
                          <% if @user.events.empty? %>
                            <h5>You have not attended any events yet.</h5>
                          <% else %>
                            <% @user.events.each do |event| %>
                              <% if event.end_time < DateTime.now %>
                                <div class="card-product">
                                  <%= cl_image_tag event.photo %>
                                  <div class="card-product-infos">
                                    <h2 class="text-left"><%= link_to event.title, event_path(event) %></h2>
                                    <p class="text-left"><strong>Location:&nbsp;</strong><%= event.location_name %></p>
                                    <p class="text-left"><%= event.start_time.to_date.strftime("%A, %b %d")%> at <%= event.start_time.strftime("%l:%M")%> - <%= event.end_time.strftime("%l:%M %p")%></p>
                                  </div>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <!-- <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-attend-upcoming" role="tabpanel" aria-labelledby="v-pills-attend-upcoming-tab">
                        <div class="card-product">
                          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                          <div class="card-product-infos">
                            <h2>Product name</h2>
                            <p>Product description with
                              <strong>relevant info</strong> only.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-attend-past" role="tabpanel" aria-labelledby="v-pills-attend-past-tab">Bye</div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
