
<div class="container">
  <!-- Request a friend if youre not yet their friend and not on your own profile  -->
  <% unless current_user == @user || @user.pending_friends.include?(current_user) %>
  <%= link_to "friend request", request_friend_path(@user), method: :post %>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <!-- Start a conversation with a friend from their profile -->
  <% if current_user.friends.include?(@user) %>
    <% if current_user != @user && @connection.present? %>
      <%= link_to "Message", user_connection_messages_path(@connection) %>
    <% else %>
      <%= link_to "Message", user_connections_path(connector: @sender, connectee: @recipient), method: :post %>
    <% end %>
  <% end %>
  <!-- Allow you to accept any pending friends  -->
  <% if current_user == @user %>
    <% @user.requested_friends.each do |friend| %>
      <%= friend %>
      <%= link_to "accept", accept_friend_path(friend), method: :post %>
    <% end %>
  <% end %>

  <!-- List all friends and allow you to remove friends -->
  <% current_user.friends.each do |friend| %>
    <p>friends : <%= friend %></p>
    <% if current_user == @user %>
      <%= link_to "remove friend", remove_friend_path(friend), method: :delete %>
    <% end %>
  <% end %>

<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.nationality %>
<%= @user.birthdate %>
<%= cl_image_tag @user.profilephoto, height: 300, width: 400, crop: :fill %>

</div>
