<h1>Teachers#new_profile</h1>
<p>Find me in app/views/teachers/new_profile.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= simple_form_for :teacher, url: save_teacher_profile_path, method: :post do |f| %>

      <div class="d-flex ">
      <% Certification.all.each do |certification|  %>
        <input name="certification[]" type="checkbox", value="<%= certification.id %>"> <%= certification.name %> <br>
      <% end %>

      </div>

      <hr>
      <% TeachingStyle.all.each do |style|  %>
        <input name="styles[]" type="checkbox", value="<%= style.id %>"> <%= style.name %> <br>
      <% end %>


      <hr>
      <% Language.all.each do |language|  %>
        <input name="languages[]" type="checkbox", value="<%= language.id %>"> <%= language.name %> <br>
      <% end %>

  <%= f.button :submit %>
<% end %>
    </div>
  </div>
</div>
