<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OMline</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
   <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= asset_path 'omline_logo.png' %>" />
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body style="min-height: 100vh; display: flex; flex-direction: column;">
    <p class="custom-notice"><%= notice %></p>
    <p class="custom-alert"><%= alert %></p>
    <%= render '/shared/navbar' unless controller_name == "registrations" || controller_name == "sessions" || controller_name == "users" %>
    <div class="<%= 'overall-container' unless controller_name == "registrations" || controller_name == "sessions" || controller_name == "users" %>">
      <%= yield %>
    </div>
    <%= render 'shared/footer'  unless controller_name == "registrations" || controller_name == "sessions" || controller_name == "users" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
